<div class="hero-unit">
	<h1>Welcome to my Address Book</h1>
	<center class= "home"><%= link_to t('.books',:default => t("helpers.links.My book")),
                      books_path, :class => 'btn btn-primary' %></center>
</div>


       
<!--<%= image_tag("planet2.png")%>--> 


