<h1>Welcome to my Address Book</h1>
<center><%= link_to t('.books',:default => t("helpers.links.My book")),
                      books_path, :class => 'btn btn-primary' %></center>



  <div class="row">
      <div class="span12" style="width:80px;height:80px;">
        <%= image_tag("planet2.png")%>
      </div>
  </div>

       
<!--<%= image_tag("planet2.png")%>--> 


