<h1>Welcome to my Address Book</h1>
<!--<%= link_to "My books", books_path %>-->
<center><%= link_to t('.books',:default => t("helpers.links.My book")),
                      books_path, :class => 'btn btn-primary' %></center>
